__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
.env
storage/
node_modules/
dist/
build/
.git/
.github/
.git
storage
storage-test
storage-test/
*.db
*.sqlite
*.sqlite3
*.log
__pycache__
.pytest_cache
.venv
